{% extends 'base.html.twig' %}

{% block body %}
    <div style="padding-left:20%;">
        {{ html|raw }}
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        td {
            border: 1px solid #bdc3c7;
            height: 30px;
            width: 30px;
            text-align:center;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
    </style>
{% endblock %}